# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.sqlite3
*.log
local_settings.py
media/
staticfiles/

# Virtual environment
env/
venv/
.env
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
